<%- include("top") -%>

    <div class="container pt-4 overflow-auto">


        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col">Name</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (const i in (items)) { j=1%>
                        <tr>
                            <th scope="row">
                                <%- i %>

                            </th>
                            <td>
                                <%- items[i].name %>
                            </td>
                            <td>
                                <%- items[i].link %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

        <form action="/PartA/addnamelink" method="POST" id="formID" class="form-inline">
            <div class="form-group">
                <div class="form-group mb-2">
                    <label for="inputName" class="sr-only">Name</label>
                    <input required id="inputName" type="text" name="add_name" placeholder="Name" class="form-control">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputLink" class="sr-only">Url</label>
                    <input required id="inputLink" type="url" name="add_link" placeholder="Link" class="form-control">
                </div>
                <button class="btn btn-outline-danger mb-2" name="addbutton" type="submit">Add
                    Item</button>
            </div>
        </form>
        <form action="/PartA/save" method="POST" id="saveForm">
            <button class="btn btn-outline-dark place" name="save" type="submit">Save</button>
        </form>

    </div>
    <%- include("end") -%>